#container {
  position: relative;
}
.field {
  width: 40px;
  height: 40px;
  position: absolute;
  background:  #3183df ;
  border-radius: 25px;
}
.key-anim1 {
  -webkit-animation: Drawpath 1s linear forwards;
  animation: Drawpath 1s linear forwards;
  stroke-dasharray: 0, 600;
}
@-webkit-keyframes Drawpath {
  from {
    stroke-dasharray: 0, 600;
  }
  to {
    stroke-dasharray: 600, 600;
  }
}
@keyframes Drawpath {
  from {
    stroke-dasharray: 0, 600;
  }
  to {
    stroke-dasharray: 600, 600;
  }
}
