#container {
  position: relative;
}
.field {
  width: 6%;
  font-size: 150%;
  position: absolute;
  background:  #3183df ;
  border-radius: 50%;
  text-align: center;
}

.key-anim1 {
  -webkit-animation: Drawpath 1s linear forwards;
  animation: Drawpath 1s linear forwards;
  stroke-dasharray: 0, 600;
}
@-webkit-keyframes Drawpath {
  from {
    stroke-dasharray: 0, 600;
  }
  to {
    stroke-dasharray: 600, 600;
  }
}
@keyframes Drawpath {
  from {
    stroke-dasharray: 0, 600;
  }
  to {
    stroke-dasharray: 600, 600;
  }
}
