<!DOCTYPE html>
<html lang="en">
<head>
  <title>DiSC</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="../static/images/favicon.png"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
  <link rel="stylesheet" type="text/css" href="../static/styles/util.css">
  <link rel="stylesheet" type="text/css" href="../static/styles/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
  <script src="../static/js/blockUI.js"></script>
  <script src="../static/js/ConfigureScripts.js"></script>
</head>
<body>
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
        <form class="login100-form validate-form p-l-55 p-r-55 p-t-178" method="post">
          <span class="login100-form-title">
            DiSC
          </span>
          {% csrf_token %}
          {% for field in form  %}
          <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
            <label>{{ field.label_tag }}</label>
            {{ field }}
          </div>
          {% endfor %}
          <div><br></div>
          <div class="container-login100-form-btn">
            <button type="submit" id="submit" class="login100-form-btn">
              Execute
            </button>
          </div>
          <div><br></div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
