<!DOCTYPE html>
<html>
<head>
  <title>DiSc</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../static/styles/home.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="../static/js/gossipWorker.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
  <style>
  .charts {
    position: absolute;
    top: 50%;
    left: 1%;
    width:98%;
    transform: translate(0%, -50%);
   }
  </style>
</head>
<body>
  <script>
  $(document).ready(function() {
    //Check if the gossip is in progress. If not redirect to display plots.
    $("#button").click( function() {
      $.ajax({
        url: 'http://localhost:8000/disc/plots',
        success: function (data) {
          if(typeof(data.inProgress) === 'undefined') {
            window.location.replace('http://localhost:8000/disc/plots');
          } else {
            alert("Please Wait! The Gossip Process is in progress.");
          }
        }
      });
      return false;
    });

    //To display accordions
    $(function() {
      $( "#accordion" ).accordion();
    });
  });
  </script>

  <script>
  $(document).ready(function() {
    //To check if the gossip is complete and to auto redirect to the plots page.
    var w;
    if(typeof(Worker) !== "undefined") {
      if(typeof(w) == "undefined") {
        w = new Worker("../static/js/gossipWorker.js");
      }
      w.onmessage = function(event) {
        try {
          if($.parseJSON(event.data).inProgress == 'true') {
            console.log("The Gossip Process is in progress.");
          }
        }
        catch(err) {
          console.log("Gossip is Completed");
          window.location.replace('http://localhost:8000/disc/plots');
        }
      };
    } else {
      alert("Sorry, your browser will not support the Demo");
    }
  });
</script>

<!-- Scripts to display the Streaming Graphs -->
<script>
$(document).ready(function() {
  var dps1 = []; // dataPoints

  var updateInterval = 1000;
  var dataLength = 20000000; // number of dataPoints visible at any point

  //Creating Charts - Start
  //Chart 1 - Start
  var chart1 = new CanvasJS.Chart("chartContainer1", {
    title :{
      text: "Relative Error"
    },
    axisX: {
      includeZero: true,
      title: 'Time (Seconds)',
    },
    axisY: {
      includeZero: true,
      title: "Avg. Relative Error",
      suffix: "%"
    },
    data: [{
      type: "line",
      dataPoints: dps1
    }]
  });

  var updateChart1 = function (xVal, yVal) {
    dps1.push({
      x: xVal,
      y: yVal
    });

    if (dps1.length > dataLength) {
      dps1.shift();
    }

    chart1.render();
  };
  //Creating Charts - End

  //Creating Web Socket - Start
  var ws1 = new WebSocket("ws://128.110.153.173:8080/StreamData/discStream");

  ws1.onmessage = function(event) {
    console.log("Sending the data");
    var str = event.data;
    var res = str.split(",");

    updateChart1(Number(res[0]), Number(res[1]));
  };

  ws1.onerror = function(event){
    console.log("Error on WebSocket 1", event)
  }
  //Creating Web Socket - End
});
</script>
<script>
$(document).ready(function() {
  var dps2 = []; // dataPoints

  var updateInterval = 1000;
  var dataLength = 20000000; // number of dataPoints visible at any point

  //Creating Charts - Start
  //Chart 1 - Start
  var chart2= new CanvasJS.Chart("chartContainer2", {
    title :{
      text: "Relative Error"
    },
    axisX: {
      includeZero: true,
      title: 'Time (Seconds)',
    },
    axisY: {
      includeZero: true,
      title: "Avg. Relative Error",
      suffix: "%"
    },
    data: [{
      type: "line",
      dataPoints: dps2
    }]
  });

  var updateChart2 = function (xVal, yVal) {
    dps2.push({
      x: xVal,
      y: yVal
    });

    if (dps2.length > dataLength) {
      dps2.shift();
    }

    chart2.render();
  };
  //Creating Charts - End

  //Creating Web Socket - Start
  var ws2 = new WebSocket("ws://128.110.153.174:8080/StreamData/discStream");

  ws2.onmessage = function(event) {
    console.log("Sending the data");
    var str = event.data;
    var res = str.split(",");

    updateChart2(Number(res[0]), Number(res[1]));
  };

  ws2.onerror = function(event){
    console.log("Error on WebSocket 2", event)
  }
  //Creating Web Socket - End
});
</script>
<script>
$(document).ready(function() {
  var dps3 = []; // dataPoints

  var updateInterval = 1000;
  var dataLength = 20000000; // number of dataPoints visible at any point

  //Creating Charts - Start
  //Chart 1 - Start
  var chart3 = new CanvasJS.Chart("chartContainer3", {
    title :{
      text: "Relative Error"
    },
    axisX: {
      includeZero: true,
      title: 'Time (Seconds)',
    },
    axisY: {
      includeZero: true,
      title: "Avg. Relative Error",
      suffix: "%"
    },
    data: [{
      type: "line",
      dataPoints: dps3
    }]
  });

  var updateChart3 = function (xVal, yVal) {
    dps3.push({
      x: xVal,
      y: yVal
    });

    if (dps3.length > dataLength) {
      dps3.shift();
    }

    chart3.render();
  };
  //Creating Charts - End

  //Creating Web Socket - Start
  var ws3 = new WebSocket("ws://128.110.153.160:8080/StreamData/discStream");

  ws3.onmessage = function(event) {
    console.log("Sending the data");
    var str = event.data;
    var res = str.split(",");

    updateChart3(Number(res[0]), Number(res[1]));
  };

  ws3.onerror = function(event){
    console.log("Error on WebSocket 3", event)
  }
  //Creating Web Socket - End
});
</script>
<script>
$(document).ready(function() {
  var dps4 = []; // dataPoints

  var updateInterval = 1000;
  var dataLength = 20000000; // number of dataPoints visible at any point

  //Creating Charts - Start
  //Chart 1 - Start
  var chart4 = new CanvasJS.Chart("chartContainer4", {
    title :{
      text: "Relative Error"
    },
    axisX: {
      includeZero: true,
      title: 'Time (Seconds)',
    },
    axisY: {
      includeZero: true,
      title: "Avg. Relative Error",
      suffix: "%"
    },
    data: [{
      type: "line",
      dataPoints: dps4
    }]
  });

  var updateChart4 = function (xVal, yVal) {
    dps4.push({
      x: xVal,
      y: yVal
    });

    if (dps4.length > dataLength) {
      dps4.shift();
    }

    chart4.render();
  };
  //Creating Charts - End

  //Creating Web Socket - Start
  var ws4 = new WebSocket("ws://128.110.153.165:8080/StreamData/discStream");

  ws4.onmessage = function(event) {
    console.log("Sending the data");
    var str = event.data;
    var res = str.split(",");

    updateChart4(Number(res[0]), Number(res[1]));
  };

  ws4.onerror = function(event){
    console.log("Error on WebSocket 4", event)
  }
  //Creating Web Socket - End
});
</script>
<div class="wrapper">
  <aside class="main_sidebar">
    <div class = "formContainer">
      <h2>Relative Error Stream</h2>
      <form class="form">
        <div class="form-group">
          <label>N:</label>
          <input type="text" class="form-control" value={{N}} readonly>
        </div>
        <div class="form-group">
          <label>L:</label>
          <input type="text" class="form-control" value={{L}} readonly>
        </div>
        <div class="form-group">
          <label>K:</label>
          <input type="text" class="form-control" value={{K}} readonly>
        </div>
        <div class="form-group">
          <label>R:</label>
          <input type="text" class="form-control" value={{R}} readonly>
        </div>
        <div class="form-group">
          <label>Dtaset :</label>
          <input type="text" class="form-control" value={{Dataset}} readonly>
        </div>
        <button id="button" class="btn btn-default">View Plots</button>
      </form>
    </div>
  </aside>
  <div class="charts">
    <div class="dataAccContainer">
      <div id="accordion">
        {% load my_filters %}
        {% for i in N|times %}
        <h3>Node {{forloop.counter}}</h3>
        <div>
          <div id="chartContainer{{forloop.counter}}" style="height: 380px; max-width: 1020px; margin: 0px auto;"></div>
        </div>
        {% endfor %}
      </div>
      <p>*Note: Graphs would appear, once the data starts streaming.
      </div>
      <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    </div></div>
  </body>
  </html>
