<!DOCTYPE html>
<html lang="en">
<head>
  <title>DiSC</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="../static/images/favicon.ico"/>
  <link rel="stylesheet" href="../static/styles/mdb.css">
  <link rel="stylesheet" href="../static/styles/home.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link href="../static/styles/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/2.6.6/svg.min.js"></script>
  <script src="../static/js/data.js"></script>
  <script src="../static/js/displayNodes.js"></script>
</head>
<body class="grey lighten-3">
  <!--Main Navigation-->
  <header>
    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
      <div class="container-fluid">

        <!-- Brand -->
        <a class="navbar-brand waves-effect" href="https://mdbootstrap.com/material-design-for-bootstrap/"
        target="_blank">
        <strong class="blue-text">DiSC</strong>
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- Left -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link waves-effect" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect" href="https://mdbootstrap.com/material-design-for-bootstrap/"
          target="_blank">About DiSC</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect" href="https://mdbootstrap.com/getting-started/" target="_blank">Config</a>
        </li>

      </ul>

      <!-- Right -->
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item">
          <a href="https://github.com/mdbootstrap/bootstrap-material-design" class="nav-link border border-light rounded waves-effect"
          target="_blank">
          <i class="fa fa-github mr-2"></i>GitHub
        </a>
      </li>
    </ul>

  </div>

</div>
</nav>
<!-- Navbar -->
</header>
<!--Main Navigation-->

<!--Main layout-->
<main class="pt-5 mx-lg-5">
  <div class="container-fluid mt-5">
    <!--Grid row-->
    <div class="row wow fadeIn">

      <!--Grid column-->
      <div class="col-md-6 mb-4">
        <!--Card-->
        <div class="card">
          <div class="card-header text-center">
            Error Stream
          </div>
          <!--Card content-->
          <div class="card-body">
            <div class="charts">
              <div class="dataAccContainer">
                <div id="accordion">
                  {% load my_filters %}
                  {% for i in N|times %}
                  <h3>Node {{forloop.counter}}</h3>
                  <div>
                    <div id="chartContainer{{forloop.counter}}" style="height: 380px; max-width: 1020px; margin: 0px auto;"></div>
                  </div>
                  {% endfor %}
                </div>
                <p>*Note: Graphs would appear, once the data starts streaming.
                </div>
                <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
              </div>
            </div>
          </div>
          <!--/.Card-->
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">
          <!--Card-->
          <div class="card mb-4">
            <!-- Card header -->
            <div class="card-header text-center">
              Gossiping Visualization
            </div>
            <!--Card content-->
            <div class="card-body">
              <div id="container">
                <input type="hidden" id="NodesCount" value={{N}}>
                <!-- To Do:
                1) Allign the text to center.
                2) If Possible change the squares to circles -->
                <svg height="600" width="600" id = "svg">
                </svg>
              </div>
            </div>
          </div>
          <!--/.Card-->
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row wow fadeIn">
        <!--Grid column-->
        <div id = "div1" class="col-md-6 mb-4" style="display: none;">
          <!--Card-->
          <div class="card mb-4">
            <div class="card-header text-center">
              Convergence speed of DiSC on Cluster Nodes.
            </div>
            <!--Card content-->
            <div class="card-body">
              <img src="http://128.110.153.173:8800/DiSC/all_nodes_output.png" style="margin-left: 100px; width:600px;height:500px;"> <br>
            </div>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div id = "div2" class="col-md-6 mb-4" style="display: none">
          <!--Card-->
          <div class="card mb-4">
            <div class="card-header text-center">
              Family Size Reduction.
            </div>
            <!--Card content-->
            <div class="card-body">
              <img src="http://128.110.153.173:8800/DiSC/fam-list-size-output.png" style="margin-left: 100px; width:600px;height:500px;">
            </div>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
  </main>
</body>

</html>
