<!DOCTYPE html>
<html>
<head>
  <title>DiSc</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../static/styles/home.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
</head>
<body>
<div class="wrapper">
  <aside class="main_sidebar">
    <div class = "formContainer">
      <h2>Relative Error Stream</h2>
      <form method="post" class="form">
        <div class="form-group">
          <label>N:</label>
          <input type="text" class="form-control" value={{N}} readonly>
        </div>
        <div class="form-group">
          <label>L:</label>
          <input type="text" class="form-control" value={{L}} readonly>
        </div>
        <div class="form-group">
          <label>K:</label>
          <input type="text" class="form-control" value={{K}} readonly>
        </div>
        <div class="form-group">
          <label>R:</label>
          <input type="text" class="form-control" value={{R}} readonly>
        </div>
        <div class="form-group">
          <label>Dtaset :</label>
          <input type="text" class="form-control" value={{Dataset}} readonly>
        </div>
        <button type="submit" id="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </aside>
</div>
<div class="container">
  <div class="dataAccContainer">
    <h1>This is where the plots would be coming.
  </div>
</div>
</body>
</html>
